@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
.register {
  display: flex;
  flex-direction: row;
  height: 100vh;

  &-main-1 {
    flex-basis: 56%;
    overflow: hidden;

    img {
      opacity: 0.75;
      position: relative;
      right: 180px;
      height: 100%;
    }
  }
  &-main-2 {
    flex-basis: 44%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-heading {
      flex: 1;
      display: flex;
      align-items: center;
      max-height: 20vh;
      max-width: 100%;
      position: relative;
      right: 150px;
      .icon {
        max-width: 75px;
        margin-right: 1vw;
      }

      .mat-title {
        padding-top: 1.5rem;
        align-items: center;
        color: #6a8caf;
        font: Italic 1.6em/1.2em 'Inconsolata', monospace;
        position: relative;
        bottom: 3px;
        right: 7px;
      }
      @media screen and (min-width: 1800px) {
        .icon {
          max-width: 115px;
        }
        .mat-title {
          font: Italic 2.2em 'Inconsolata', monospace;
        }
        right: 250px;
      }
    }
    ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
    .mat-tab-nav-bar.mat-primary .mat-ink-bar {
      background-color: #6a8caf;
      height: 1vh;
    }
    ::ng-deep .mat-tab-label .mat-tab-label-content {
      font-family: 'Questrial', sans-serif;
      font-weight: bold;
    }

    &-card {
      flex: 4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-basis: content;
      max-height: auto;
      mat-card {
        display: flex;
        flex-direction: column;
        box-shadow: none;
        max-width: 70%;
        max-height: auto;
        justify-content: center;
        overflow: hidden;
        padding: 0;
        max-height: auto;
        position: relative;
        left: 20%;
        .forms {
          position: relative;
          left: 14.4%;
        }

        form {
          max-width: 80%;
          font-family: 'Questrial', sans-serif;
          ::ng-deep .mat-form-field-wrapper {
            margin-bottom: -2em;
          }

          ::ng-deep .mat-form-field {
            .mat-form-field-wrapper {
              .mat-form-field-underline {
                background-color: rgba(0, 0, 0, 0.15);
              }
            }
          }

          mat-form-field {
            color: #707070;
            width: 75%;
            margin: 10px 0px;
            position: relative;
            bottom: 15%;

            font-family: 'Questrial', sans-serif;

            mat-label {
              font-family: 'Questrial', sans-serif;
              font-size: 14px;
            }
          }
          .name {
            width: 35%;
            padding-right: 5%;
          }
        }
        .submit {
          background-color: #6a8caf;
          color: white;
          width: 80%;
          height: 30px;
          border-radius: 50px;
          margin-top: 20px;
          // padding: 0 0 3px 0;
          font-family: 'Questrial', sans-serif;
          font-size: 15px;
          position: relative;
          // right: 10%;
          left: 4%;
        }
      }
    }

    .login {
      color: #707070;
      width: 100%;
      height: 50px;
      font-family: 'Questrial', sans-serif;
      font-size: 15px;
      // padding: 4% 0;
    }
    @media screen and (min-width: 1800px) {
      .register-main-2-card {
        max-width: 80%;
      }

      mat-card {
        max-width: auto;
        max-height: 70%;
        padding: 20% 0;
        display: flex;
        overflow: visible;
        position: relative;
        left: 0%;
        text-align: center;
        .forms {
          position: relative;
          bottom: 85px;
          left: 160px;
        }
        .submit {
          position: relative;
          left: 170px;
          bottom: 60px;
        }
      }

      mat-form-field {
        color: #707070;
        width: 100%;
        margin: 10px 0px;
        position: relative;
        bottom: 15%;

        font-family: 'Questrial', sans-serif;

        mat-label {
          font-family: 'Questrial', sans-serif;
          font-size: 17px;
        }
      }
      form {
        max-width: 100%;
        max-height: auto;
        font-family: 'Questrial', sans-serif;
        ::ng-deep .mat-form-field-wrapper {
          margin-bottom: 0em;
        }
        .name {
          position: relative;
          left: 5px;
        }
      }

      .login {
        position: relative;
        bottom: 170px;
        left: 20px;
        z-index: 1;
        padding: 0;
      }
    }
  }
}
