<div class="register">
  <!-- <div class="register-head">
    <div class="register-head_left" (click)="navigateTo('cockpit')">
      <div class="register-head_left__square"></div>
      <span class="register-head_left__brand">Quarantined <br>Helper</span>
    </div>
    <div class="register-head_right" [routerLink]="'/login'">
      <span
        class="register-head_right__register"> {{ 'auth.login' | translate }} </span>
    </div>
  </div> -->
  <div class="register-main-1">
    <picture>
      <source media="(max-width: 1600px)" srcset="./assets/images/peace-1280w.jpg" />
      <source media="(min-width: 1700px)" srcset="./assets/images/peace-1660w.jpg" />
      <img src="./assets/images/peace.jpg" alt="A picture of world peace" class="login-main-1-image" />
    </picture>
  </div>

  <div class="register-main-2">
    <div class="register-main-2-heading">
      <img class="icon" src="./assets/icons/quarantine3.png" alt="" />
      <div class="mat-title">Quarantine<br/>Help</div>
    </div>
    <!-- <mat-horizontal-stepper linear #stepper class="stepper">
      <mat-step [stepControl]="basicInfoForm"
                errorMessage="{{ 'form.error.generic' | translate }}" completed= "true">
        <form [formGroup]="basicInfoForm" class="rform">
          <ng-template
            matStepLabel> {{ 'form.info1' | translate }} </ng-template>
          <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field appearance="fill">
                <mat-label> {{ 'form.firstname' | translate }} </mat-label>
                <mat-icon matSuffix>person</mat-icon>
                <input matInput
                       placeholder="{{ 'form.firstname' | translate }}"
                       formControlName="firstName" required/>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field appearance="fill">
                <mat-label> {{ 'form.lastname' | translate }} </mat-label>
                <mat-icon matSuffix>person</mat-icon>
                <input matInput placeholder="{{ 'form.lastname' | translate }}"
                       formControlName="lastName" required/>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <app-autocomplete
                (locationChange)="autocompleteChanged($event)"></app-autocomplete>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field appearance="fill" class="email-field">
                <mat-label>{{ 'form.email' | translate }}</mat-label>
                <mat-icon matSuffix>email</mat-icon>
                <input matInput placeholder="{{ 'form.email' | translate }}"
                       formControlName="email" required/>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field appearance="fill">
                <mat-label>{{ 'form.phone' | translate }}</mat-label>
                <mat-icon matSuffix>phone</mat-icon>
                <input matInput placeholder="{{ 'form.phone' | translate }}"
                       formControlName="phone" required/>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="actions">
                <button mat-raised-button color="primary" matStepperNext
                        class="next-button">Next
                </button>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </form>
      </mat-step>
      <mat-step [stepControl]="additionalForm"
                errorMessage="{{ 'form.error.generic' | translate }}" completed= "true">
        <form [formGroup]="additionalForm" class="pform">
          <ng-template
            matStepLabel> {{ 'form.set-password' | translate }} </ng-template>
          <mat-form-field appearance="outline" class="email-field">
            <mat-label>{{ 'form.email' | translate }}</mat-label>
            <mat-icon matSuffix>email</mat-icon>
            <input
              matInput
              placeholder="{{ 'form.email' | translate }}"
              disabled
              value="{{ this.basicInfoForm.get('email').value }}"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'form.password' | translate }}</mat-label>
            <mat-icon matSuffix>lock</mat-icon>
            <input
              matInput
              id="password"
              type="password"
              placeholder="{{ 'form.password' | translate }}"
              formControlName="password"
            />
            <div
              *ngIf="password.invalid && (password.dirty || password.touched)"
              class="alert alert-danger">
              <div *ngIf="password.errors.required"
                   class="error">{{ 'form.error.required.password' | translate }}</div>
              <div *ngIf="password.errors.minlength"
                   class="error">{{ 'form.error.minlength' | translate }}</div>
            </div>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'form.confirm-password' | translate }}</mat-label>
            <mat-icon matSuffix>lock</mat-icon>
            <input
              matInput
              id="passwordconfirm"
              type="password"
              placeholder="{{ 'form.confirm-password' | translate }}"
              formControlName="passwordconfirm"
              required
              (input)="compare()"
            />
            <div
              *ngIf="passwordconfirm.invalid && (passwordconfirm.dirty || passwordconfirm.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="passwordconfirm.errors.required" class="error">
                {{ 'form.error.required.password' | translate }}
              </div>
              <div *ngIf="passwordconfirm.errors.minlength"
                   class="error">{{ 'form.error.minlength' | translate }}</div>
              <div *ngIf="passwordconfirm.errors.notmatched" class="error">
                {{ 'form.error.notmatched' | translate }}
              </div>
            </div>
          </mat-form-field>

          <div class="actions">
            <button mat-button
                    matStepperPrevious>{{ 'general.back' | translate }}</button>
            <button mat-button matStepperNext
                    (click)="registerParticipant()">{{'general.next' |translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{ 'form.done' | translate }}</ng-template>
        <div class="done">
          <p>{{ 'auth.success-registration' | translate }}</p>
          <button mat-button
                  matStepperPrevious>{{ 'auth.login-to-continue' | translate }}</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper> -->
  <!-- **************** -->
  
  <div class="register-main-2-card">
    <mat-card class="card">
      <form [formGroup]="basicInfoForm" class="rform">
        
        <mat-form-field floatLabel="never" appearance="legacy">
          <mat-label> First Name </mat-label>
          <input matInput
                 placeholder="{{ 'form.firstname' | translate }}"
                 formControlName="firstName" required/>
        </mat-form-field>
    
        <mat-form-field floatLabel="never" appearance="legacy">
          <mat-label> Last Name </mat-label>
                    <input matInput placeholder="{{ 'form.lastname' | translate }}"
                           formControlName="lastName" required/>
        </mat-form-field>
    
        <mat-form-field floatLabel="never" appearance="legacy">
          <mat-label> Address </mat-label>
          <input matInput
                 placeholder="{{ 'form.firstname' | translate }}"
                 formControlName="firstName" required/>
        </mat-form-field>
    
        <mat-form-field floatLabel="never" appearance="legacy">
          <mat-label>Email address</mat-label>
          <input matInput placeholder="{{ 'form.email' | translate }}"
                 formControlName="email" required/>
        </mat-form-field>
    
        <mat-form-field floatLabel="never" appearance="legacy">
          <mat-label>Phone number</mat-label>
                    <input matInput placeholder="{{ 'form.phone' | translate }}"
                           formControlName="phone" required/>
        </mat-form-field>
    
        <mat-form-field floatLabel="never" appearance="legacy">
          <mat-label>Password</mat-label>
          <input
            matInput
            id="password"
            type="password"
            placeholder="{{ 'form.password' | translate }}"
            formControlName="password"
          />
          <div
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="alert alert-danger">
            <div *ngIf="password.errors.required"
                 class="error">{{ 'form.error.required.password' | translate }}</div>
            <div *ngIf="password.errors.minlength"
                 class="error">{{ 'form.error.minlength' | translate }}</div>
          </div>
        </mat-form-field>
    
        <mat-form-field floatLabel="never" appearance="legacy">
          <mat-label>Confirm password</mat-label>
                <input
                  matInput
                  id="passwordconfirm"
                  type="password"
                  placeholder="{{ 'form.confirm-password' | translate }}"
                  formControlName="passwordconfirm"
                  required
                  (input)="compare()"
                />
                <div
                  *ngIf="passwordconfirm.invalid && (passwordconfirm.dirty || passwordconfirm.touched)"
                  class="alert alert-danger"
                >
                  <div *ngIf="passwordconfirm.errors.required" class="error">
                    {{ 'form.error.required.password' | translate }}
                  </div>
                  <div *ngIf="passwordconfirm.errors.minlength"
                       class="error">{{ 'form.error.minlength' | translate }}</div>
                  <div *ngIf="passwordconfirm.errors.notmatched" class="error">
                    {{ 'form.error.notmatched' | translate }}
                  </div>
                </div>
        </mat-form-field>
      </form>
      </mat-card>
    
    </div>
  </div>
  
  
  </div>
  

<!-- 
<mat-card class="card">
  <form [formGroup]="basicInfoForm" class="rform">
    
    <mat-form-field floatLabel="never" appearance="legacy">
      <mat-label> {{ 'form.firstname' | translate }} </mat-label>
      <input matInput
             placeholder="{{ 'form.firstname' | translate }}"
             formControlName="firstName" required/>
    </mat-form-field>

    <mat-form-field floatLabel="never" appearance="legacy">
      <mat-label> {{ 'form.lastname' | translate }} </mat-label>
                <input matInput placeholder="{{ 'form.lastname' | translate }}"
                       formControlName="lastName" required/>
    </mat-form-field>

    <mat-form-field floatLabel="never" appearance="legacy">
      <mat-label> {{ 'form.firstname' | translate }} </mat-label>
      <input matInput
             placeholder="{{ 'form.firstname' | translate }}"
             formControlName="firstName" required/>
    </mat-form-field>

    <mat-form-field floatLabel="never" appearance="legacy">
      <mat-label>{{ 'form.email' | translate }}</mat-label>
      <input matInput placeholder="{{ 'form.email' | translate }}"
             formControlName="email" required/>
    </mat-form-field>

    <mat-form-field floatLabel="never" appearance="legacy">
      <mat-label>{{ 'form.phone' | translate }}</mat-label>
                <mat-icon matSuffix>phone</mat-icon>
                <input matInput placeholder="{{ 'form.phone' | translate }}"
                       formControlName="phone" required/>
    </mat-form-field>

    <mat-form-field floatLabel="never" appearance="legacy">
      <mat-label>{{ 'form.password' | translate }}</mat-label>
      <mat-icon matSuffix>lock</mat-icon>
      <input
        matInput
        id="password"
        type="password"
        placeholder="{{ 'form.password' | translate }}"
        formControlName="password"
      />
      <div
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="alert alert-danger">
        <div *ngIf="password.errors.required"
             class="error">{{ 'form.error.required.password' | translate }}</div>
        <div *ngIf="password.errors.minlength"
             class="error">{{ 'form.error.minlength' | translate }}</div>
      </div>
    </mat-form-field>

    <mat-form-field floatLabel="never" appearance="legacy">
      <mat-label>{{ 'form.confirm-password' | translate }}</mat-label>
            <mat-icon matSuffix>lock</mat-icon>
            <input
              matInput
              id="passwordconfirm"
              type="password"
              placeholder="{{ 'form.confirm-password' | translate }}"
              formControlName="passwordconfirm"
              required
              (input)="compare()"
            />
            <div
              *ngIf="passwordconfirm.invalid && (passwordconfirm.dirty || passwordconfirm.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="passwordconfirm.errors.required" class="error">
                {{ 'form.error.required.password' | translate }}
              </div>
              <div *ngIf="passwordconfirm.errors.minlength"
                   class="error">{{ 'form.error.minlength' | translate }}</div>
              <div *ngIf="passwordconfirm.errors.notmatched" class="error">
                {{ 'form.error.notmatched' | translate }}
              </div>
            </div>
    </mat-form-field>
  </form>
  </mat-card> -->