@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  box-sizing: border-box;
}

.login {
  display: flex;
  height: 100vh;

  &-main-1 {
    flex-basis: 56vw;
    overflow: hidden;

    img {
      opacity: 0.75;
      position: relative;
      right: 180px;
      height: 100%;
    }
  }

  &-main-2 {
    flex-basis: 44vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-heading {
      display: flex;
      // padding-top: 12vh;
      align-items: center;
      max-height: 30%;
      max-width: 100%;

      .icon {
        max-width: 100px;
        margin-right: 1vw;
      }

      .mat-title {
        padding-top: 1.5rem;
        align-items: center;
        color: #6a8caf;
        font: Italic 1.8em/1.2em 'Inconsolata', monospace;
      }
    }

    &-card {
      max-height: 70%;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 8vh;

      mat-card {
        box-shadow: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 70%;
        padding: 16px;

        .login-form {
          width: 90%;
          font-family: 'Questrial', sans-serif;

          ::ng-deep .mat-form-field {
            .mat-form-field-wrapper {
              .mat-form-field-underline {
                background-color: rgba(0, 0, 0, 0.15);
              }
            }
          }

          mat-form-field {
            color: #707070;
            width: 100%;
            margin: 10px 0px;
            position: relative;
            bottom: 15%;

            mat-label {
              font-family: 'Questrial', sans-serif;
              font-size: 17px;
            }
          }

          .submit {
            background-color: #6a8caf;
            color: white;
            width: 100%;
            height: 40px;
            border-radius: 50px;
            padding: 3px 0 10px;
            font-family: 'Questrial', sans-serif;
            font-size: 19px;
          }

          .signup {
            color: #707070;
            width: 100%;
            height: 50px;
            font-family: 'Questrial', sans-serif;
            font-size: 17px;
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1030px) {
  .login {
    &-main-1 {
      flex-basis: 0vw;
    }

    &-main-2 {
      flex-basis: 100vw;
    }
  }
}

@media screen and (min-width: 1800px) {
  .login {
    &-main-1 {
      &-image {
        right: 160px;
      }
    }
  }
}
