<div class="register">
    <div class="register-head">
        <div class="register-head_left" (click)="navigateTo('cockpit')">
            <div class="register-head_left__square"></div>
            <span class="register-head_left__brand">Quarantined <br>Helper</span>
        </div>
        <div class="register-head_right" (click)="navigateTo('login')">
            <span class="register-head_right__login">Login</span>
        </div>
    </div>
    <div class="register-middle">
        New user? Please choose a category
    </div>
    <div class="register-main">
        <div class="register-main_left">
            <mat-icon>hotel</mat-icon>
            <span class="register-main_left__title">I am quarantined</span>
        </div>
        <div class="register-main_right">
            <mat-icon>emoji_people</mat-icon>
            <span class="register-main_right__title">I am a volunteer</span>
        </div>
    </div>
</div>