.register {
  height: 100%;
  width: 100%;

  &-head {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &_left {
      display: flex;
      padding: 0 15px;
      width: 300px;
      cursor: pointer;

      &__square {
        height: 50px;
        width: 50px;
        border: 2px solid black;
      }

      &__brand {
        font-family: "Poppins", sans-serif;
        margin-left: 10px;
        font-weight: 600;
      }
    }

    &_right {
      width: 200px;
      height: 50px;
      border: 2px solid black;
      /* padding: 20px; */
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-right: 15px;
      cursor: pointer;

      &__login {
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }

  &-middle {
    height: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
    font-family: "Poppins", sans-serif;
  }

  &-main {
    height: 90%;
    width: 100%;
    display: flex;
    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }

    &_left {
      width: 50%;
      display: flex;
      flex-direction: column;
      background-color: lightgray;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      @media only screen and (max-width: 600px) {
        width: 100%;
      }
      mat-icon {
        height: 400px;
        width: 400px;
        font-size: 400px;
        font-weight: 500;
      }

      &__title {
        font-size: 2.5em;
        font-family: "Poppins", sans-serif;

        @media only screen and (max-width: 600px) {
          font-size: 1.5em;
          padding-bottom: 15px;
        }
      }
    }

    &_right {
      width: 50%;
      display: flex;
      flex-direction: column;
      background-color: #9e9e9e;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      @media only screen and (max-width: 600px) {
        width: 100%;
      }

      mat-icon {
        height: 400px;
        width: 400px;
        font-size: 400px;
        font-weight: 500;
      }

      &__title {
        font-size: 3em;
        font-family: "Poppins", sans-serif;
        @media only screen and (max-width: 600px) {
          padding-bottom: 15px;
          font-size: 1.5em;
        }
      }
    }
  }
}
