<section class="login">
  <div class="login-main-1">
    <picture>
      <source media="(max-width: 1600px)" srcset="./assets/images/peace-1280w.jpg" />
      <source media="(min-width: 1700px)" srcset="./assets/images/peace-1660w.jpg" />
      <img src="./assets/images/peace.jpg" alt="A picture of world peace" class="login-main-1-image" />
    </picture>
  </div>

  <div class="login-main-2">
    <div class="login-main-2-heading">
      <img class="icon" src="./assets/icons/quarantine3.png" alt="" />
      <div class="mat-title">Quarantine<br/>Help</div>
    </div>

    <div class="login-main-2-card">
      <mat-card class="card">
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
          <mat-form-field floatLabel="never" appearance="legacy">
            <mat-label>Email address</mat-label>
            <input matInput placeholder="Enter email" id="email" formControlName="email" />
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
              <div *ngIf="email.errors.required" class="error">Email address is required.</div>
              <div *ngIf="email.errors.email" class="error">Please enter a valid email.</div>
            </div>
          </mat-form-field>
          <mat-form-field floatLabel="never" appearance="legacy">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter password" id="password" formControlName="password" />
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
              <div *ngIf="password.errors.required" class="error">Please enter the password.</div>
            </div>
          </mat-form-field>
          <button mat-flat-button class="submit" [disabled]="!loginForm.valid">Log in</button>
          <button mat-flat-button class="signup" (click)="toSignup()">Sign up</button>
        </form>
      </mat-card>
    </div>
  </div>
</section>
