<div class="login">
  <!-- <div class="login-head">
        <div class="login-head_left" (click)="navigateTo('cockpit')">
            <div class="login-head_left__square"></div>
            <span class="login-head_left__brand">Quarantined <br>Helper</span>
        </div>
        <div class="login-head_right" [routerLink]="'/cockpit'">
            <span class="login-head_right__login">register</span>
        </div>
    </div> -->

  <div class="login-main">
    <mat-card>
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field appearance="outline">
          <mat-label>Email address</mat-label>
          <input
            matInput
            placeholder="Enter email"
            id="email"
            formControlName="email"
          />
          <mat-icon matSuffix>email</mat-icon>
          <div
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="email.errors.required" class="error">
              Email address is required.
            </div>
            <div *ngIf="email.errors.email" class="error">
              Please enter a valid email.
            </div>
          </div>
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="Enter password"
            id="password"
            formControlName="password"
          />
          <mat-icon matSuffix>lock</mat-icon>
          <div
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="password.errors.required" class="error">
              Please enter the password.
            </div>
          </div>
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <button mat-flat-button class="submit" [disabled]="!loginForm.valid">
          Login
        </button>
      </form>
    </mat-card>
  </div>
</div>
<!-- <div id="login-page">
    <div class="login" *ngIf="AUTH_MODE === 0">
        <h2 class="login-title">Login</h2>
        <div class="form-login">
            <div class="input-email">
                <mat-icon>email</mat-icon>
                <input type="email" name="email" placeholder="Enter your email">
            </div>
            <div class="input-password">
                <mat-icon>lock</mat-icon>
                <input type="password" name="password" placeholder="Enter your password">
            </div>
            <button mat-button class="login-button">Login</button>
        </div>
        <a (click)="setAuthMode('login')" class="pointer">Not a member? login here</a>
    </div>
    <div class="login" *ngIf="AUTH_MODE === 1">
        <h2 class="login-title">login</h2>
        <div class="form-login">
            <div class="input-email">
                <mat-icon>email</mat-icon>
                <input type="email" name="email" placeholder="Enter your email">
            </div>
            <div class="input-email">
                <mat-icon>email</mat-icon>
                <input type="email" name="email" placeholder="Enter your email">
            </div>
            <div class="input-email">
                <mat-icon>email</mat-icon>
                <input type="email" name="email" placeholder="Enter your email">
            </div>
            
            <div class="input-password">
                <mat-icon>lock</mat-icon>
                <input type="password" name="password" placeholder="Enter your password">
            </div>
            <button mat-button class="login-button">Login</button>
        </div>
        <a (click)="setAuthMode('login')" class="pointer">Not a member? login here</a>
    </div>
    <div class="background">
        <h1>Qurantined Help Portal</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu augue diam. Phasellus eu leo
            tristique, tempus ligula ut, posuere nunc. Quisque imperdiet quis mauris nec fringilla. Suspendisse sit amet
            neque ac arcu feugiat condimentum vel feugiat felis. Aenean mollis faucibus ex, in sollicitudin arcu
            ullamcorper nec. Ut nibh tortor, placerat vel urna ut, eleifend iaculis purus. Nulla porttitor purus ipsum,
            id vulputate odio imperdiet in.
        </p>
    </div>
</div> -->
