.login {
  display: flex;
  height: 100%;
  width: 100%;

  &-main-1 {
    flex-basis: 56%;
    &-image {
      max-width: 100%;
      opacity: 0.75;
    }
  }
  // &-head {
  //   height: 15%;
  //   width: 100%;
  //   display: flex;
  //   flex-direction: row;
  //   align-items: center;
  //   justify-content: space-between;

  //   &_left {
  //     display: flex;
  //     padding: 0 15px;
  //     width: 300px;
  //     cursor: pointer;

  //     &__square {
  //       height: 50px;
  //       width: 50px;
  //       border: 2px solid black;
  //     }

  //     &__brand {
  //       font-family: 'Poppins', sans-serif;
  //       margin-left: 10px;
  //       font-weight: 600;
  //     }
  //   }

  //   &_right {
  //     width: 200px;
  //     height: 50px;
  //     border: 2px solid black;
  //     /* padding: 20px; */
  //     display: flex;
  //     align-items: center;
  //     flex-direction: column;
  //     justify-content: center;
  //     margin-right: 15px;
  //     cursor: pointer;

  //     &__login {
  //       font-family: 'Poppins', sans-serif;
  //       text-transform: uppercase;
  //       font-weight: 600;
  //     }
  //   }
  // }

  &-main-2 {
    flex-basis: 44%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }
    &-heading {
      display: flex;
      .icon {
        height: 60px;
        max-width: 60px;
      }
      .mat-title {
        color: #6a8caf;
      }
    }

    mat-card {
      //background: #add8e657;
      // box-shadow: none;
      // box-shadow: 12px 13px 0px 0px rgba(0, 0, 0, 0.05), 0 1px 1px 0 rgba(0, 0, 0, 0), 0 1px 3px 0 rgba(0, 0, 0, 0.14);
      display: flex;
      flex-basis: 80%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 60%;
      padding: 16px;

      @media only screen and (max-width: 600px) {
        width: 90%;
      }

      .login-form {
        width: 75%;

        mat-form-field {
          width: 100%;
          margin: 10px 0px;
        }

        .submit {
          background-color: #6a8caf;
          color: white;
          width: 100%;
          height: 50px;
          border-radius: 50px;
          padding: 10px 0;
        }
        .signup {
          width: 100%;
          height: 50px;
        }
      }
    }
  }
}
// .login{
//   display: flex;

// }
// .error {
//   font-size: 12px;
//   color: orangered;
//   margin-top: 10px;
// }
